// medium screens
@media screen and (min-width: 768px) {
  .width-md-90 {
    width: 90%;
  }

  .width-md-60 {
    width: 60%;
  }

  .width-md-30 {
    width: 30%;
  }

  .hidden-sm {
    display: inline-block;
  }

  .flex-md-horizontal-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .col-md-6 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
  }

  .col-md-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .centered-md-horizontal {
    margin: 0 auto;
  }
}

// lage screens
@media screen and (min-width: 1024px) {
  
}
