// medium screens
@media screen and (min-width: 768px) {
  .width-md-90 {
    width: 90%;
  }

  .width-md-60 {
    width: 60%;
  }

  .width-md-30 {
    width: 30%;
  }

  .hidden-sm {
    display: inline-block;
  }

  .flex-md-horizontal-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .col-md-6 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
  }

  .col-md-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .centered-md-horizontal {
    margin: 0 auto;
  }
}

// lage screens
@media screen and (min-width: 1024px) {
  .width-lg-50 {
    width: 50%;
  }
  .width-lg-70 {
    width: 70%;
  }
  .text-1-lg-next{
    font-size: 2rem;
  }
  .col-lg-6 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }
  .col-lg-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .individual-lg-project{
    height: 500px;
    border: 1px solid $black-color;
    margin: 40px auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}
