@import 'variables';

* {
  box-sizing: border-box;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  overflow-x: hidden;
}

input,
select {
  padding: 0.5rem;
  outline: none;
  border: none;
}

// results
@mixin bg-specs {
  background-size: cover;
  height: 400px;
  width: 400px;
}

.accommodation-details {
  box-shadow: 4px 4px 8px 8px $black-transparent;
}

@import 'utilities';
@import 'texts';
@import 'widths-heights';
@import 'media-queries'
