:root {
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(0, 0, 0);
}

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  width: 100%;
  margin: 0;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.portfolio-container {
  height: 200vh;
  width: 100vw;
  background: url("../img/wall-paper.jpg") center center fixed;
  background-size: cover;
}

.welcome-screen {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100vh;
  width: 100%;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  line-height: 50px;
}

.welcome-screen button {
  width: 6rem;
  margin: 10rem auto;
  height: 6rem;
  background-color: rgb(81, 11, 95);
  color: rgb(255, 255, 255);
  font-size: 1.2em;
  border: none;
  border-radius: 150px;
  outline: none;
  cursor: pointer;
  transition: linear 0.5s;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.3);
}

.welcome-screen button:hover {
  transform: scale(1.1);
  background-color: rgba(81, 11, 95, 0.5);
}

.portfolio-navigation {
  width: 95%;
  height: 90vh;
  margin: 2rem auto;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0.5rem;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
}

.top-nav {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  height: 5%;
  width: 100%;
  color: rgb(0, 0, 0);
  background-color: rgb(215, 222, 246);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.portfolio-navigation ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  position: relative;
  top: 0.5rem;
}

.portfolio-navigation li {
  margin-right: 1rem;
}

.close-btn {
  color: rgb(237, 93, 87);
}

.minimize-btn {
  color: rgb(249, 192, 61);
}

.maxmize-btn {
  color: rgb(100, 206, 66);
}

main {
  display: grid;
  grid-template: 1fr / 1fr 4fr;
  height: 95%;
}

.aside,
section {
  height: 100%;
  width: 100%;
}

.aside {
  background-color: rgba(59, 59, 59, 0.1);
  border-bottom-left-radius: 0.5rem;
}

section {
  background-color: rgb(51, 51, 51);
  border-bottom-right-radius: 0.5rem;
}

.active {
  background-color: rgba(72, 72, 72);
  color: rgb(255, 255, 255);
}

.aside div {
  margin-top: 0.2rem;
  padding: 1rem;
  cursor: pointer;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  margin-left: 1rem;
}

.aside div:hover {
  background-color: rgba(72, 72, 72, 0.5);
  color: rgb(255, 255, 255);
}

.text-white {
  color: var(--color-white);
}

.text-black {
  color: var(--color-black);
}

.padding-1 {
  padding: 1rem;
}

.scroll-y {
  overflow-y: scroll;
}

.about-me-content {
  width: 99%;
  background-color: rgb(72, 72, 72);
  margin-top: 0.2rem;
  height: 98%;
  display: grid;
  grid-template: 1fr / 3fr 1fr;
  padding: 1rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.about-me-content p {
  text-align: justify;
  line-height: 25px;
  margin-bottom: 1rem;
}

.about-me-content img {
  width: 15rem;
  height: 15rem;
  margin: 50% auto;
  border-radius: 300rem;
}

.about-me-content-text {
  height: 80vh;
}

.technical-skills-article {
  width: 99%;
  background-color: rgb(72, 72, 72);
  margin-top: 0.2rem;
  height: 98%;
  padding: 1rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.technical-skills-conatiner {
  display: grid;
  grid-template: 1rem 4fr / 1fr;
  row-gap: 1rem;
  height: 50%;
  width: 100%;
}

.technical-skills-listing {
  display: grid;
  grid-template: 1fr / repeat(4, 1fr);
  column-gap: 0.5rem;
}

.technical-skills-listing img {
  height: 100px;
  width: 100px;
  border-radius: 300rem;
}
